<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="com.googlecode.spektom.gcsearch.ui.GCSearchPage"
            enabled="true"
            extensions="*"
            icon="icons/full/obj16/google.png"
            id="com.googlecode.spektom.gcsearch.GCSearchPage"
            label="Google Code">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="com.googlecode.spektom.gcsearch.ui.GCSearchResultPage"
            icon="icons/full/obj16/google.png"
            id="com.googlecode.spektom.gcsearch.GCSearchResultPage"
            label="Code Search Results"
            searchResultClass="com.googlecode.spektom.gcsearch.core.GCSearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.search.preferences.SearchPreferencePage"
            class="com.googlecode.spektom.gcsearch.ui.GCPreferencePage"
            id="com.googlecode.spektom.gcsearch.ui.GCPreferencePage"
            name="Google Code">
         <keywordReference
               id="com.googlecode.spektom.gcsearch.keywords">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.googlecode.spektom.gcsearch.keywords"
            label="search google code source">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.googlecode.spektom.gcsearch.Preferences">
      </initializer>
   </extension>

</plugin>
